@page
@using RokPrzestepny.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <h1 class="display-4">Welcome</h1>
    <div class="row form-group">
        <div class="col">
            <label asp-for="Osoba.Rok" class="form-label"></label>
            <input asp-for="Osoba.Rok" class="form-control" placeholder="Rok" />
            <span asp-validation-for="Osoba.Rok" class="text-danger fw-bold"></span>
        </div>
        <div class="col">
            <label asp-for="Osoba.Imie" class="form-label"></label>
            <input asp-for="Osoba.Imie" class="form-control" placeholder="Imię użytkownika" />
            <span asp-validation-for="Osoba.Imie" class="text-danger fw-bold"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Zatwierdź</button>
    @if (TempData.ContainsKey("Message"))
    {
        <div class="alert alert-primary mt-3 p-3" role="alert">
            @TempData["Message"]
        </div>
    }
</form>
<style>
    .form-group {
        margin-bottom: 1rem
    }
</style>